HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**
!**/src/test/**
/logs/*
/media/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
.DS_Store

### # Config ###
.env
application.properties
application.yml
application.properties.build
application.yml.build
application.properties.run
application.yml.run

node_modules/
package-lock.json
package.json
target/
webpack.config.js
webpack.generated.js
frontend/generated
*.old

